@media screen and (max-width: 1140px) {
    nav ul li {
        margin-right: 6%;
    }
    nav ul {
        margin-left: 30px;
    }
}

@media screen and (max-width: 870px) {
    nav ul {
        padding: 0;
    }
    nav ul li {
        margin-right: 3%;
    }
    .about-me-1, .about-me-2,
    .about-me-3, .about-me-4 {
        padding-top: 3%;
    }
}

@media screen and (max-width: 700px) {
    nav {
        min-height: 70px;
        max-height: 100px;
    }
    nav ul li.list {
        display: none;
    }
    nav ul li a img {
       font-size: 25px;
       margin-top: 10px;
       margin-left: 5px;
    }
    #viber {
        margin: 0;
    }
    .menu {
        display: block;
        border: 0;
        background: none;
        float: left;
        margin: 10px 20px 0 5px;
    }
    .menu img {
        width: 80px;
    }
    h1 {
        padding-top: 30px;
        font-size: 60px;
        height: 160px;
    }
    .menu-phone.active {
        left: 0;
    }
    .about-me-1, .about-me-2,
    .about-me-3, .about-me-4 {
        width: 100%;
    }
    .header {
        min-height: 100px;
    }
}